.Mysearch{
    display: block;
    width: 200px;
    
}

.foodContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    .food{
        padding: 8px;
        background-color: whitesmoke;
        margin: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
    }
}